.footer__form {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid rgb(179, 170, 170);
}
.footer__input {
  padding: 5px;
  padding-right: 315px;
  font-size: 24px;
  background-color: transparent;
  border: none;
}

.footer__btn {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgb(82, 80, 204);
  background-color: transparent;
  border: none;
}